.container {
	width: 1200px;
}
.img{
	width: 100%;
	height: 300px;
	 position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.image{
	width: 50px;
}
.imagemargin{
	margin-top: 10px;
}
.img-width{
	width: 100px;
	height:100px;
}
.img-width1{
	width: 280px;
	padding: 0px;
}
.img-width2{
	width: 100px;
}
.media-object{
	width: 100px;
}
.img-width2{
	width: 300px;
}
.img-width3{
	width: 80px;
}
.color{
	background-color: red;
}
.border-d{
	border-top: 2px solid black;
	border-bottom: 2px solid black;	
}
.box-size{
	width: 10px;
	padding:0px;
}
.padding{
	padding: 15px;
}
.background-d{
	background-color: #9e9e9e0f;
}
.border-2{
	border: 2px solid black;
}
.background-bot{
	background-color: #78909C;
}
.img-w{
	width: 30px;
}
.border-left{
border-right: 1px solid white;
height:auto;
width: auto;
}
.footer{
  background: #152F4F;
  color:white;
  
  /*.links{
    ul {list-style-type: none;}
    li a{
      color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }  
  .about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  } 
  .location{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}
*/
